/* animation sets */

/* move from / to  */
.pt-page-moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}

.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft 0.7s ease-in-out both;
  animation: moveToLeft 0.7s ease-in-out both;
}

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both;
}

.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight 0.7s ease-in-out both;
  animation: moveToRight 0.7s ease-in-out both;
}

/* ================================================= */

@-webkit-keyframes moveToLeft {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  from {
  }
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToRight {
  from {
  }
  to {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveToRight {
  from {
  }
  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}

/* HERE */
